.char-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.char-card {
    background-color: white;
    color: black;
    width: 200px;
    height: 300px;
    margin: 10px;


border-radius: 5px;
}

.char-img {
    margin: 2% auto;
    width: 175px;
    height: 75px;

    background-image: url('https://lumiere-a.akamaihd.net/v1/images/og-generic_02031d2b.png?region=0%2C0%2C1200%2C1200');
    background-size: 100% auto;
    background-position: 50% 50%;
}