.char-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.char-card {
    background-color: rgba(0, 0, 0, 0.431);
    color:black;
    text-shadow: 2px 2px 2px white;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid rgb(71, 71, 71);
    border-width: 3px;
    border-radius: 10px;
    width: 200px;
    height: 350px;
    margin: 10px;
    padding-bottom: 25px;    
}

.char-img {
    margin: 0;
    width: 200px;
    height: 150px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;    
    border-bottom: 16px solid rgba(255, 246, 162, 0.877);
    background-image: url('https://lumiere-a.akamaihd.net/v1/images/og-generic_02031d2b.png?region=0%2C0%2C1200%2C1200');
    background-size: 100% auto;
    background-position: 45% 45%;
}